body{
    margin: 0;
    padding: 0;
    background-color: #1beaea;
}
.header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;    
    height: 200px;
    background-color: rgb(254, 254, 254);
}

.titulo{
    color: darkblue;
    font-family: "Comfortaa", sans-serif;
}
.group-ifs{
    display: flex;
    flex-direction: row;
    gap: 12px;
    padding: 0;
}

.group-ifs li{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 15px;
    font-size: 12px;
    list-style: none;
    background-color: rgb(15, 124, 21);
    color: #fff;
    text-decoration: none;
    padding: 10px;
    border-radius: 8px;
    font-family: Arial, Helvetica, sans-serif;
}
.res{
    background-color: chartreuse;
    display: none;
}
.ano-group{
    color: white;
    
}
.ano{
    background-color: rgb(15, 124, 21);
    padding: 4px;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 8px;
    
}
.formulario{
    margin-top: 20px;
    margin-bottom: 16px;
}
#if, #date{
    border: 0.5px solid rgb(228, 219, 219) ;
    padding: 8px;
    box-shadow: rgba(0, 0, 0, 0.10) 0px 1px 2px;
    background-color: rgb(235, 242, 244);
    outline: none;
}
#button{
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    padding: 8px;
    color: #ffffff;
    background-color: blue;
    margin-left: 2px;
}
.content{
    display: flex;
    height: 400px;
    gap: 40px;
    padding: 24px;
    align-items: center;
    justify-content: center;
    background-color: rgb(242, 246, 247);
}
.content-pesquisa{
    display: block;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: burlywood;
    padding: 0;
    margin: 0;
}
.content-nomeacao{
    width: 50%;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
#grafic-nomeacao{
    width: 50%;
    height: 90%;
}
.content-exoneracao{
    width: 50%;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
#grafic-exoneracao{
    width: 50%;
    height: 90%;
    
}
.mensagem-tempo{
    display: flex;
    margin: 10px;
    justify-content: center;
    color: brown;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}