body{
    display: flex;
    margin: 0;
    padding: 0;
    background-color: rgb(103, 168, 14);
}
.container{
    width: 100%;
    height: 500px;
    
    background-color: #252344;
}
.title{
    color: #ffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/*background-image: url(image.png);
    background-repeat: no-repeat;*/