<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static', filename="css/analitic-style.css")}}">
    <title>Analisador de portarias das IFs</title>
</head>
<body>
  <header class="header">
    <section class="box-head">
      <h2 class="titulo">Analisador de portarias das IFs</h2>
    </section>
    <section class="box-footer">
      <ul class="group-ifs">
          <li>IFAC</li>
          <li>IFAL</li>
          <lI>IFAP</lI>
          <lI>IFAM</lI>
          <li>IFBA</li>
          <li>IFCE</li>
          <li>IFB</li>
          <li>IFES</li>
          <li>IFG</li>
          <li>IFMT</li>
          <li>IFMA</li>
          <li>IFMS</li>
          <li>IFMG</li>
          <li>IFPA</li>
          <li>IFPB</li>
          <li>IFPR</li>
          <li>IFPE</li>
          <li>IFPI</li>
          <li>IFRJ</li>
          <li>IFRN</li>
          <li>IFSUL</li>
          <li>IFRO</li>
          <li>IFRR</li>
          <li>IFSP</li>
          <li>IFSC</li>
          <li>IFS</li>
          <li>IFTO</li>
        </a>
      </ul>
    </section>
    <section class="ano-group">
      <span class="ano ano_2018">2018</span>
      <span class="ano ano_2019">2019</span>
      <span class="ano ano_2020">2020</span>
      <span class="ano ano_2021">2021</span>
      <span class="ano ano_2022">2022</span>
      <span class="ano ano_2023">2023</span>
      
    </section>
    <section class="formulario">
      <form action="{{ url_for('analisar_portaria') }}" method="post">
        <input type="text" name="if" id="if" placeholder="Digite algo ex: IFAC" required>
        <input type="text" name="date" id="date" placeholder="Digite um ano" required>
        <button type="submit" id="button"><strong>Buscar</strong></button>
      </form>
      
    </section>
  </header>
  
  {% if res %}
     <div class="res">
          <p id="jan-nom">{{res['January']['Nomeacoes']}}</p>
          <p id="fev-nom">{{res['February']['Nomeacoes']}}</p>
          <p id="marc-nom">{{res['March']['Nomeacoes']}}</p>
          <p id="abri-nom">{{res['April']['Nomeacoes']}}</p>
          <p id="mai-nom">{{res['May']['Nomeacoes']}}</p>
          <p id="jun-nom">{{res['June']['Nomeacoes']}}</p>
          <p id="jul-nom">{{res['July']['Nomeacoes']}}</p>
          <p id="ago-nom">{{res['August']['Nomeacoes']}}</p>
          <p id="set-nom">{{res['September']['Nomeacoes']}}</p>
          <p id="out-nom">{{res['October']['Nomeacoes']}}</p>
          <p id="nov-nom">{{res['November']['Nomeacoes']}}</p>
          <p id="dez-nom">{{res['December']['Nomeacoes']}}</p>
  </br>
  </br>
          <p id="jan-exo">{{res['January']['Exoneracoes']}}</p>
          <p id="fev-exo">{{res['February']['Exoneracoes']}}</p>
          <p id="marc-exo">{{res['March']['Exoneracoes']}}</p>
          <p id="abri-exo">{{res['April']['Exoneracoes']}}</p>
          <p id="mai-exo">{{res['May']['Exoneracoes']}}</p>
          <p id="jun-exo">{{res['June']['Exoneracoes']}}</p>
          <p id="jul-exo">{{res['July']['Exoneracoes']}}</p>
          <p id="ago-exo">{{res['August']['Exoneracoes']}}</p>
          <p id="set-exo">{{res['September']['Exoneracoes']}}</p>
          <p id="out-exo">{{res['October']['Exoneracoes']}}</p>
          <p id="nov-exo">{{res['November']['Exoneracoes']}}</p>
          <p id="dez-exo">{{res['December']['Exoneracoes']}}</p>
        

          
      {% endif %}
    </div>

  <section class="content">

    <div class="content-nomeacao">
        <div>
            <canvas id="grafic-nomeacao"></canvas>
        </div>
    </div>
    <div class="content-exoneracao">
        <div>
            <canvas id="grafic-exoneracao"></canvas>
        </div>
    </div>
  </section> 
  <span class="mensagem-tempo">O tempo de processamento pode levar até 5 minutos!!</span>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{{url_for('static', filename='js/script.js')}}"></script>
</body>
</html>
